@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
    margin: 0;
    background-color: #141d2f;
    font-family: "Space Mono";
}

.container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 5vh auto 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: white;
}

.title {
    font-size: 26px;
    font-weight: 700;
}

.preferenceWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search {
    display: flex;
    flex-grow: 2;
}

form {
    display: flex;
    background-color: #1e2a47;
    justify-content: space-between;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 50px;
}

input {
    height: 30px;
    background: url('./assets/icon-search.svg') center left 10px no-repeat;
    padding: 10px 5px 10px 50px;
    border: none;
    outline: none;
    width: 100%;
    color: white;
    font-size: 13px;
    font-family: "Space Mono";
}

input::placeholder {
    color: white;
    font-weight: 400;
}

#results {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    display: flex;
    color: #ff593d;
    font-size: 15px;
    white-space: nowrap;
}

button {
    background-color: #0079ff;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    color: white;
    font-family: "Space Mono";
    min-height: 50px;
}

button:hover {
    background-color: #60abff;
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card {
    display: flex;
    background-color: #1e2a47;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    color: white;
    gap: 20px;
}

.introContainer {
    display: flex;
    gap: 20px;
}

.introContainer {
    display: flex;
    flex-direction: row;
}

.userProfilePic > img{
    height: 80px;
    border-radius: 50%;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#profileName {
    font-size: 18px;
    font-weight: 700;
}

#profileHandle {
    color: #0079ff;
}

.bio {
    color: #f6f8ff;
}

.aboutContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #141d2f;
    border-radius: 10px;
    padding: 20px;
}

.aboutInner {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.data {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.detailContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.desktopProfilePicture, #dateOfJoinDesktop, {
    display: none;
}

#location {
    background: url('./assets/icon-location.svg') no-repeat center left;
}

#company {
    background: url('./assets/icon-company.svg') no-repeat center left;

}

#twitterHandle {
    background: url('./assets/icon-twitter.svg') no-repeat center left;
}

#blog {
    background: url('./assets/icon-website.svg') no-repeat center left;
}

#location, #company, #twitterHandle, #blog {
    padding-left: 30px;
}

@media screen and (min-width: 768px) {
    .container {
        width: 70vw;
        margin: 12vh auto 0 auto;
    }

    .title {
        font-size: 30px;
    }

    input {
        font-size: 18px;
    }

    .userProfilePic > img {
        height: 120px;
    }

    .aboutContainer {
        flex-direction: space-around;
        padding: 20px 40px 20px 40px;
        gap: 30px;
    }

    .data {
        text-align: left;
    }

    .about {
        justify-content: space-around;
    }

    .detailContainer {
        gap: 20px;
    }
}

@media screen and (min-width: 1025px) {
    .container {
        width: 55vw;
    }

    .card {
        padding: 0;
        gap: 30px;
    }

    .cardContainer {
        display: grid;
        grid-template-columns: 1fr 4fr;
        background-color: #1e2a47;
        padding: 35px;
        border-radius: 10px;
        grid-gap: 20px;
    }

    .introContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .userProfilePic {
        display: none
    }

    .desktopProfilePicture {
        display: block;
    }

    .desktopProfilePicture > img {
        height: 130px;
        border-radius: 50%;
    }

    #dateOfJoin {
        display: none;
    }

    #dateOfJoinDesktop {
        display: inline;
        color: #697c9a;
        font-size: 15px;
    }

    .detailContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    input {
        background-position: center left 20px;
        padding-left: 60px;
    }
}
